--
-- PostgreSQL database dump
--

\restrict RB9mQfTrrIXcof1IDaeSnhpavhuSzBKzk8zHs3NaZbgZ0Wee7W5sMx0xIZhuidl

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.sections DROP CONSTRAINT IF EXISTS sections_document_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirements DROP CONSTRAINT IF EXISTS requirements_section_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirements DROP CONSTRAINT IF EXISTS requirements_document_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirement_links DROP CONSTRAINT IF EXISTS requirement_links_target_requirement_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirement_links DROP CONSTRAINT IF EXISTS requirement_links_source_requirement_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirement_history DROP CONSTRAINT IF EXISTS requirement_history_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirement_history DROP CONSTRAINT IF EXISTS requirement_history_requirement_id_fkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_requirement_manager_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requirements DROP CONSTRAINT IF EXISTS fk_requirements_parent_id;
ALTER TABLE IF EXISTS ONLY public.requirements DROP CONSTRAINT IF EXISTS fk_requirements_assignee_id_users;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS documents_project_id_fkey;
ALTER TABLE IF EXISTS ONLY public.coverage_metrics DROP CONSTRAINT IF EXISTS coverage_metrics_document_id_fkey;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_requirement_id_fkey;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_sections_id;
DROP INDEX IF EXISTS public.ix_requirements_status;
DROP INDEX IF EXISTS public.ix_requirements_requirement_id;
DROP INDEX IF EXISTS public.ix_requirements_parent_id;
DROP INDEX IF EXISTS public.ix_requirements_id;
DROP INDEX IF EXISTS public.ix_requirements_discipline;
DROP INDEX IF EXISTS public.ix_requirements_assignee_id;
DROP INDEX IF EXISTS public.ix_requirement_links_target_requirement_id;
DROP INDEX IF EXISTS public.ix_requirement_links_source_requirement_id;
DROP INDEX IF EXISTS public.ix_requirement_history_requirement_id;
DROP INDEX IF EXISTS public.ix_requirement_history_id;
DROP INDEX IF EXISTS public.ix_requirement_history_created_at;
DROP INDEX IF EXISTS public.ix_projects_requirement_manager_id;
DROP INDEX IF EXISTS public.ix_projects_id;
DROP INDEX IF EXISTS public.ix_projects_code;
DROP INDEX IF EXISTS public.ix_documents_id;
DROP INDEX IF EXISTS public.ix_dictionary_items_id;
DROP INDEX IF EXISTS public.ix_dictionary_items_dict_type;
DROP INDEX IF EXISTS public.ix_coverage_metrics_id;
DROP INDEX IF EXISTS public.ix_comments_user_id;
DROP INDEX IF EXISTS public.ix_comments_requirement_id;
DROP INDEX IF EXISTS public.ix_comments_id;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.requirement_links DROP CONSTRAINT IF EXISTS uq_requirement_links_source_target_type;
ALTER TABLE IF EXISTS ONLY public.sections DROP CONSTRAINT IF EXISTS sections_pkey;
ALTER TABLE IF EXISTS ONLY public.requirements DROP CONSTRAINT IF EXISTS requirements_pkey;
ALTER TABLE IF EXISTS ONLY public.requirement_links DROP CONSTRAINT IF EXISTS requirement_links_pkey;
ALTER TABLE IF EXISTS ONLY public.requirement_history DROP CONSTRAINT IF EXISTS requirement_history_pkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_pkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_code_key;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS documents_pkey;
ALTER TABLE IF EXISTS ONLY public.dictionary_items DROP CONSTRAINT IF EXISTS dictionary_items_pkey;
ALTER TABLE IF EXISTS ONLY public.coverage_metrics DROP CONSTRAINT IF EXISTS coverage_metrics_pkey;
ALTER TABLE IF EXISTS ONLY public.coverage_metrics DROP CONSTRAINT IF EXISTS coverage_metrics_document_id_key;
ALTER TABLE IF EXISTS ONLY public.comments DROP CONSTRAINT IF EXISTS comments_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.sections ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.requirements ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.requirement_links ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.requirement_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.projects ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.documents ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.dictionary_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.coverage_metrics ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.comments ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.sections_id_seq;
DROP TABLE IF EXISTS public.sections;
DROP SEQUENCE IF EXISTS public.requirements_id_seq;
DROP TABLE IF EXISTS public.requirements;
DROP SEQUENCE IF EXISTS public.requirement_links_id_seq;
DROP TABLE IF EXISTS public.requirement_links;
DROP SEQUENCE IF EXISTS public.requirement_history_id_seq;
DROP TABLE IF EXISTS public.requirement_history;
DROP SEQUENCE IF EXISTS public.projects_id_seq;
DROP TABLE IF EXISTS public.projects;
DROP SEQUENCE IF EXISTS public.documents_id_seq;
DROP TABLE IF EXISTS public.documents;
DROP SEQUENCE IF EXISTS public.dictionary_items_id_seq;
DROP TABLE IF EXISTS public.dictionary_items;
DROP SEQUENCE IF EXISTS public.coverage_metrics_id_seq;
DROP TABLE IF EXISTS public.coverage_metrics;
DROP SEQUENCE IF EXISTS public.comments_id_seq;
DROP TABLE IF EXISTS public.comments;
DROP TABLE IF EXISTS public.alembic_version;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(64) NOT NULL
);


--
-- Name: comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    requirement_id integer NOT NULL,
    user_id integer NOT NULL,
    text text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: coverage_metrics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.coverage_metrics (
    id integer NOT NULL,
    document_id integer NOT NULL,
    total_pages integer NOT NULL,
    processed_pages integer NOT NULL,
    skipped_pages integer[],
    coverage_percent double precision NOT NULL,
    requirements_count integer NOT NULL,
    requirements_by_type jsonb,
    calculated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: coverage_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.coverage_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: coverage_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.coverage_metrics_id_seq OWNED BY public.coverage_metrics.id;


--
-- Name: dictionary_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dictionary_items (
    id integer NOT NULL,
    dict_type character varying(50) NOT NULL,
    code character varying(100),
    name character varying(255) NOT NULL,
    description text,
    color character varying(50),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: dictionary_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.dictionary_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: dictionary_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.dictionary_items_id_seq OWNED BY public.dictionary_items.id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    file_path text NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    total_pages integer,
    uploaded_at timestamp without time zone DEFAULT now() NOT NULL,
    processed_at timestamp without time zone,
    project_id integer,
    model_used character varying(100),
    document_type character varying(100)
);


--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.documents_id_seq OWNED BY public.documents.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(100),
    description text,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    requirement_manager_id integer
);


--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: requirement_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.requirement_history (
    id integer NOT NULL,
    requirement_id integer NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    field_name character varying(100),
    old_value text,
    new_value text,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: requirement_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.requirement_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: requirement_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.requirement_history_id_seq OWNED BY public.requirement_history.id;


--
-- Name: requirement_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.requirement_links (
    id integer NOT NULL,
    source_requirement_id integer NOT NULL,
    target_requirement_id integer NOT NULL,
    link_type character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: requirement_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.requirement_links_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: requirement_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.requirement_links_id_seq OWNED BY public.requirement_links.id;


--
-- Name: requirements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.requirements (
    id integer NOT NULL,
    document_id integer NOT NULL,
    section_id integer,
    requirement_id character varying(50) NOT NULL,
    text text NOT NULL,
    type character varying(50),
    priority character varying(50),
    page_number integer,
    bbox jsonb,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    ai_suggested text NOT NULL,
    human_edited text,
    edit_reason text,
    edited_by character varying(255),
    edited_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    subitems json,
    assignee_id integer,
    discipline character varying(100),
    deadline date,
    parent_id integer,
    verification_method character varying(100)
);


--
-- Name: requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.requirements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: requirements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.requirements_id_seq OWNED BY public.requirements.id;


--
-- Name: sections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sections (
    id integer NOT NULL,
    document_id integer NOT NULL,
    section_number character varying(50),
    title text,
    page_start integer,
    page_end integer
);


--
-- Name: sections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sections_id_seq OWNED BY public.sections.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(255),
    role character varying(50) DEFAULT 'user'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: coverage_metrics id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coverage_metrics ALTER COLUMN id SET DEFAULT nextval('public.coverage_metrics_id_seq'::regclass);


--
-- Name: dictionary_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dictionary_items ALTER COLUMN id SET DEFAULT nextval('public.dictionary_items_id_seq'::regclass);


--
-- Name: documents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents ALTER COLUMN id SET DEFAULT nextval('public.documents_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: requirement_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_history ALTER COLUMN id SET DEFAULT nextval('public.requirement_history_id_seq'::regclass);


--
-- Name: requirement_links id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_links ALTER COLUMN id SET DEFAULT nextval('public.requirement_links_id_seq'::regclass);


--
-- Name: requirements id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements ALTER COLUMN id SET DEFAULT nextval('public.requirements_id_seq'::regclass);


--
-- Name: sections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sections ALTER COLUMN id SET DEFAULT nextval('public.sections_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
013_add_project_requirement_manager
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.comments (id, requirement_id, user_id, text, created_at) FROM stdin;
\.


--
-- Data for Name: coverage_metrics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.coverage_metrics (id, document_id, total_pages, processed_pages, skipped_pages, coverage_percent, requirements_count, requirements_by_type, calculated_at) FROM stdin;
32	48	32	23	{1,2,3,4,5,6,28,29,31}	71.875	176	\N	2026-03-18 22:38:45.402677
\.


--
-- Data for Name: dictionary_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documents (id, filename, file_path, status, total_pages, uploaded_at, processed_at, project_id, model_used, document_type) FROM stdin;
48	╨Я╤А╨╕╨╝╨╡╤А_╨в╨в_╨╝╨╕╨╜╨╕.pdf	data/uploads/20260318_223610_╨Я╤А╨╕╨╝╨╡╤А_╨в╨в_╨╝╨╕╨╜╨╕.pdf	completed	32	2026-03-18 22:36:10.635895	2026-03-18 22:38:45.413552	1	gpt-4.1	\N
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.projects (id, name, code, description, status, created_at, updated_at, requirement_manager_id) FROM stdin;
1	╨в╨╡╤Б╤В	\N	\N	active	2026-02-23 01:42:28.516886	2026-02-23 01:42:28.516886	\N
2	╨в╨╡╤Б╤В 2	RS1456	╨Э╨╛╨▓╤Л╨╣ ╤В╨╡╤Б╤В╨╛╨▓╤Л╨╣ ╨┐╤А╨╛╨╡╨║╤В	active	2026-03-16 20:41:03.598631	2026-03-16 20:41:03.598631	\N
3	╨в╨╡╤Б╤В 3	RS1579	╨Ъ╨░╨║╨╛╨╡ ╤В╨╛ ╨╛╨┐╨╕╤Б╨░╨╜╨╕╨╡	active	2026-03-16 20:42:08.763774	2026-03-18 21:49:51.421389	4
\.


--
-- Data for Name: requirement_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.requirement_history (id, requirement_id, user_id, action, field_name, old_value, new_value, comment, created_at) FROM stdin;
8	13516	1	accepted	\N	\N	accepted	\N	2026-03-18 22:52:45.5209
9	13516	1	assigned	assignee_id	\N	╨Ш╤Б╨┐╨╛╨╗╨╜╨╕╤В╨╡╨╗╤М ╨Р╨╜╤В╨╛╨╜1	\N	2026-03-18 22:52:53.575412
\.


--
-- Data for Name: requirement_links; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.requirement_links (id, source_requirement_id, target_requirement_id, link_type, created_at) FROM stdin;
\.


--
-- Data for Name: requirements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sections (id, document_id, section_number, title, page_start, page_end) FROM stdin;
172	48	1	All Pages	1	32
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.comments_id_seq', 10, true);


--
-- Name: coverage_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.coverage_metrics_id_seq', 32, true);


--
-- Name: dictionary_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.dictionary_items_id_seq', 41, true);


--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.documents_id_seq', 48, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.projects_id_seq', 3, true);


--
-- Name: requirement_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.requirement_history_id_seq', 9, true);


--
-- Name: requirement_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.requirement_links_id_seq', 1, false);


--
-- Name: requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.requirements_id_seq', 13691, true);


--
-- Name: sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sections_id_seq', 172, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: coverage_metrics coverage_metrics_document_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coverage_metrics
    ADD CONSTRAINT coverage_metrics_document_id_key UNIQUE (document_id);


--
-- Name: coverage_metrics coverage_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coverage_metrics
    ADD CONSTRAINT coverage_metrics_pkey PRIMARY KEY (id);


--
-- Name: dictionary_items dictionary_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dictionary_items
    ADD CONSTRAINT dictionary_items_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: projects projects_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_code_key UNIQUE (code);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: requirement_history requirement_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_history
    ADD CONSTRAINT requirement_history_pkey PRIMARY KEY (id);


--
-- Name: requirement_links requirement_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_links
    ADD CONSTRAINT requirement_links_pkey PRIMARY KEY (id);


--
-- Name: requirements requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: requirement_links uq_requirement_links_source_target_type; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_links
    ADD CONSTRAINT uq_requirement_links_source_target_type UNIQUE (source_requirement_id, target_requirement_id, link_type);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_comments_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_comments_id ON public.comments USING btree (id);


--
-- Name: ix_comments_requirement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_comments_requirement_id ON public.comments USING btree (requirement_id);


--
-- Name: ix_comments_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_comments_user_id ON public.comments USING btree (user_id);


--
-- Name: ix_coverage_metrics_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_coverage_metrics_id ON public.coverage_metrics USING btree (id);


--
-- Name: ix_dictionary_items_dict_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dictionary_items_dict_type ON public.dictionary_items USING btree (dict_type);


--
-- Name: ix_dictionary_items_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dictionary_items_id ON public.dictionary_items USING btree (id);


--
-- Name: ix_documents_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documents_id ON public.documents USING btree (id);


--
-- Name: ix_projects_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_code ON public.projects USING btree (code);


--
-- Name: ix_projects_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_id ON public.projects USING btree (id);


--
-- Name: ix_projects_requirement_manager_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_requirement_manager_id ON public.projects USING btree (requirement_manager_id);


--
-- Name: ix_requirement_history_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirement_history_created_at ON public.requirement_history USING btree (created_at);


--
-- Name: ix_requirement_history_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirement_history_id ON public.requirement_history USING btree (id);


--
-- Name: ix_requirement_history_requirement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirement_history_requirement_id ON public.requirement_history USING btree (requirement_id);


--
-- Name: ix_requirement_links_source_requirement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirement_links_source_requirement_id ON public.requirement_links USING btree (source_requirement_id);


--
-- Name: ix_requirement_links_target_requirement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirement_links_target_requirement_id ON public.requirement_links USING btree (target_requirement_id);


--
-- Name: ix_requirements_assignee_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_assignee_id ON public.requirements USING btree (assignee_id);


--
-- Name: ix_requirements_discipline; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_discipline ON public.requirements USING btree (discipline);


--
-- Name: ix_requirements_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_id ON public.requirements USING btree (id);


--
-- Name: ix_requirements_parent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_parent_id ON public.requirements USING btree (parent_id);


--
-- Name: ix_requirements_requirement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_requirement_id ON public.requirements USING btree (requirement_id);


--
-- Name: ix_requirements_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requirements_status ON public.requirements USING btree (status);


--
-- Name: ix_sections_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sections_id ON public.sections USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: comments comments_requirement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_requirement_id_fkey FOREIGN KEY (requirement_id) REFERENCES public.requirements(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: coverage_metrics coverage_metrics_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coverage_metrics
    ADD CONSTRAINT coverage_metrics_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: documents documents_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: requirements fk_requirements_assignee_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT fk_requirements_assignee_id_users FOREIGN KEY (assignee_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: requirements fk_requirements_parent_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT fk_requirements_parent_id FOREIGN KEY (parent_id) REFERENCES public.requirements(id) ON DELETE SET NULL;


--
-- Name: projects projects_requirement_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_requirement_manager_id_fkey FOREIGN KEY (requirement_manager_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: requirement_history requirement_history_requirement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_history
    ADD CONSTRAINT requirement_history_requirement_id_fkey FOREIGN KEY (requirement_id) REFERENCES public.requirements(id) ON DELETE CASCADE;


--
-- Name: requirement_history requirement_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_history
    ADD CONSTRAINT requirement_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: requirement_links requirement_links_source_requirement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_links
    ADD CONSTRAINT requirement_links_source_requirement_id_fkey FOREIGN KEY (source_requirement_id) REFERENCES public.requirements(id) ON DELETE CASCADE;


--
-- Name: requirement_links requirement_links_target_requirement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirement_links
    ADD CONSTRAINT requirement_links_target_requirement_id_fkey FOREIGN KEY (target_requirement_id) REFERENCES public.requirements(id) ON DELETE CASCADE;


--
-- Name: requirements requirements_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: requirements requirements_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE SET NULL;


--
-- Name: sections sections_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RB9mQfTrrIXcof1IDaeSnhpavhuSzBKzk8zHs3NaZbgZ0Wee7W5sMx0xIZhuidl

